diffusers==0.18.2
imageio==2.31.2
lightning==2.0.7
matplotlib==3.7.2
networkx==3.1
numpy==1.25.2
numpy_quaternion==2022.4.3
omegaconf==2.3.0
open3d==0.16.0
Pillow==9.4.0
plotly==5.16.1
pyrender==0.1.45
pytorch3d==0.7.4
torch==2.0.1
tqdm==4.65.0
trimesh==3.23.5
pygraphviz==1.11